<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', type= 'text/css',filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<style>

		</style>
	</head>
	<body>
		<div class="register">
			<h1>Student's Register</h1>


			<form action="{{ url_for('studentreg') }}" method="post" autocomplete="off">

			<label for="username">
					<i class="fas fa-user"></i>
				</label>

				<input style="width:310px;height:50px;" type="text" name="username" placeholder="&nbsp;&nbsp;&nbsp;Username"  id="username" required /> <br>
<br><br>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>

				<input type="password" name="password" placeholder="Password" id="password" required>

				<label for="username">
					<i class="fas fa-graduation-cap"></i>
				</label>

				<input style="width:310px;height:50px"; type="text" name="sname" placeholder="&nbsp;&nbsp;&nbsp;School Name" id="username" required/><br>
<br><br>

				<label for="username">
					<i class="fas fa-mobile"></i>
				</label>

				<input style="width:310px;height:50px"; type="tel" name="mno" placeholder="Mobile No"  id="username" pattern="[0-9]{10}" id="username" required oninvalid="this.setCustomValidity('Enter 10 digit number')"oninput="this.setCustomValidity('')"/> <br>
				<br><br>

				<label for="username">
					<i class="fas fa-map-marker"></i>
				</label>

				<input style="width:310px;height:50px;" type="text" name="city" placeholder="&nbsp;&nbsp;&nbsp;City"  id="username" required /> <br>
<br><br>

				<label for="username">
					<i class="fas fa-globe"></i>
				</label>

				<input style="width:310px;height:50px;" type="text" name="state" placeholder="&nbsp;&nbsp;&nbsp;State"  id="username" required /> <br>
<br><br>


				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Register">
			</form>
		</div>
	</body>
</html>